body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spinner {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: #1b1b1b5b;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #000000;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

article .linha {
    border: 1px solid #1B1B1B;
    width: 150px;
}

article #linha_middle {
    width: 400px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 20%;
    background-color: #dd9900;
}

header {
    width: 100%;
    display: flex;
    list-style: none;
    height: 70px;
    align-items: center;
    background-color: #1b1b1be9;
    color: white;
    position: fixed;
}

header h2 {
    margin-left: 35px;
    color: #dd9900;
    font-weight: bold;
    cursor: pointer;
}

header div {
    margin-left: 35em;
}

header div ul li {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: medium;
    transition: 0.5s ease-in-out;
}

header div ul li:hover {
    color: #dd9900;
}

header div ul li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #dd9900;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

header div li:hover::after {
    width: 100%;
}

main {
    height: 100%;
    background: linear-gradient(316deg, #dd9900, #8f670b, #1b1b1b);
    background-size: 600% 600%;
    -webkit-animation: gradient_back 11s ease infinite;
    -moz-animation: gradient_back 11s ease infinite;
    animation: gradient_back 11s ease infinite;
}

@-webkit-keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

@-moz-keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

@keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}


#box_1 {
    display: flex;
}

article {
    font-size: larger;
    text-align: center;
}

#section_0_5 {
    height: 33em;
    background-color: #282828;
    text-align: center;
    align-items: center;
}

#section_0_5 h1 {
    color: #DD9900;
}

#section_0_5 .linha {
    border: 1px solid #dd9900;
}

#section_0_5 #linha_middle {
    border: 1px solid #dd9900;
}

#courses {
    display: flex;
    height: 20em;
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.courses_card {
    height: 300px;
    width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #DD9900;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    line-height: 16px;
}

.courses_card button {
    border-radius: 10px;
    height: 60px;
    width: 200px;
    background-color: #dd9900;
    border: none;
    opacity: 0;
    cursor: default;
    transition: 0.5s ease-in-out;
}

.courses_card button a {
    text-decoration: none;
    font-size: large;
    color: #1B1B1B;
    cursor: default;
    font-weight: 600;
}

.courses_card:hover {
    height: 360px;
    width: 600px;
}

.courses_card:hover button.courses_card_i {
    opacity: 1;
}

.courses_card button:hover {
    background-color: #1B1B1B;
    border: #DD9900 1px solid;
    box-shadow: 0px 0px 40px 15px rgba(221, 153, 0, 0.87);
    cursor: pointer;
}

.courses_card button:hover a.courses_card_a {
    color: #dd9900;
    text-decoration: underline;
    cursor: pointer;
}

.courses_card img {
    height: 120px;
    width: 120px;
}

.courses_card h3 {
    color: #DD9900;
    padding: 5px;
}

#courses hr {
    border: 1px solid #DD9900;
    height: 90%;
    margin-left: 15px;
    margin-right: 15px;
}

#ETE {
    height: 130px;
    width: 200px;
}

.courses_card h4 {
    color: #DD9900;
}

#section_1 {
    height: 25em;
    width: 100%;
    display: flex;
    background-color: #1B1B1B;
}

#section_1 div img {
    margin-top: 60px;
    margin-left: 65px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#section_1 nav {
    margin-left: 100px;
    color: rgb(216, 216, 216);
    text-align: left;
    line-height: 15px;
    padding: 120px;
}

#section_1 button {
    text-align: center;
    height: 50px;
    width: 170px;
    border-radius: 10px;
    font-weight: 700;
    background-color: #dd9900;
    border: none;
    transition: 0.5s ease-in-out;
}

#section_1 button a {
    text-decoration: none;
    font-weight: 700;
    color: #1B1B1B;
    height: 50px;
    width: 170px;
    transition: 0.5s ease-in-out;
}

#section_1 button:hover {
    background-color: #1B1B1B;
    border: #dd9900 1px solid;
    width: 200px;
    box-shadow: 0px 0px 40px 15px rgba(221, 153, 0, 0.87);
}

#section_1 button:hover a.teste {
    color: #DD9900;
    text-decoration: underline;
}

#section_2 {
    height: 60em;
    width: 100%;
}

#section_2 div {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.linha {
    border: 1px solid #1B1B1B;
    width: 100px;
}

#linha_middle {
    border: 1px solid #1B1B1B;
    width: 200px;
}

#cards {
    display: flex;
}

#cards_2 {
    display: flex;
}

.card {
    margin-left: 40px;
    margin-right: 40px;
    height: 350px;
    width: 350px;
    border: #1B1B1B 1px solid;
    background-color: #1B1B1B;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 35px 15px #1b1b1b;
    transition: 0.5s ease-in-out;
}

.card img {
    height: 200px;
    width: 200px;
}

.card h5 {
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 20px;
    margin-top: -5px;
}

.card:hover {
    height: 450px;
    width: 450px;
    box-shadow: 0px 0px 40px 15px rgba(221, 153, 0, 0.87);
}

.card:hover h5.card_text {
    opacity: 1;
}

#section_3 {
    height: 40em;
    width: 100%;
    background-color: #1B1B1B;
    color: white;
}

#section_3 h1 {
    text-align: center;
    align-items: center;
    color: #dd9900;
}

#section_3 .linha {
    border: #dd9900 1px solid;
}

#section_3 #linha_middle {
    border: #dd9900 1px solid;
}

.i {
    display: flex;
}

.projects {
    color: #000000;
    height: 170px;
    width: 360px;
    border-radius: 20px;
    margin-left: 45px;
    margin-right: 45px;
    line-height: 5px;
    background: linear-gradient(316deg, #dd9900, #8f670b, #1b1b1b);
    background-size: 600% 600%;
    -webkit-animation: gradient_back 11s ease infinite;
    -moz-animation: gradient_back 11s ease infinite;
    animation: gradient_back 11s ease infinite;
}

@-webkit-keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

@-moz-keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

@keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}


.projects img {
    width: 25px;
    height: 25px;
}

.projects h2 {
    margin-left: 20px;
}

.projects h5 {
    margin-left: 20px;
}

.projects nav {
    margin-left: 15px;
    height: 45px;
    width: 150px;
    background-color: #1B1B1B;
    color: #dd9900;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.projects nav a {
    text-decoration: none;
    color: #dd9900;
    transition: 0.5s ease-in-out;
}

.projects nav:hover {
    width: 160px;
    background-color: #dd9900;
    border: #1B1B1B 2px solid;
}

.projects nav:hover a.button_projects {
    color: #1B1B1B;
    font-weight: bold;
    text-decoration: underline;
}

#section_4 {
    height: 35em;
    width: 100%;
    background-color: #282828;
    color: white;
}

#front_container {
    display: flex;
    margin: 0 auto;
}

#section_4 h1 {
    text-align: center;
    align-items: center;
    color: #dd9900;
}

#section_4 hr {
    border: #dd9900 1px solid;
}

#section_4 .linha {
    border: #dd9900 1px solid;
}

#section_4 #linha_middle {
    border: #dd9900 1px solid;
}

.container {
    height: 270px;
    margin-right: 20px;
    margin-left: 20px;
    width: 370px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: #dd9900 2px solid;
    line-height: 15px;
    transition: 0.5s ease-in-out;
}

.container:hover {
    padding: 30px;
    box-shadow: 0px 0px 40px 15px rgba(221, 153, 0, 0.87);
}

.container button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #dd9900;
    border: none;
    align-items: center;
    text-align: center;
}

.container button img {
    height: 25px;
    width: 25px;
}

#section_5 {
    display: flex;
}

#section_5 nav {
    text-align: center;
    align-items: center;
    color: #000000;
    margin: 0 auto;
}

#titles {
    height: 40em;
    width: 25em;
    border-radius: 20px;
    margin-left: -15px;
    background-color: #1b1b1b;
    color: white;
}

#titles h2 {
    margin-left: 35px;
    text-decoration: underline;
    color: #dd9900;
}

#titles dl {
    margin-left: 35px;
}

#titles dt {
    font-size: large;
    font-weight: bold;
}

#titles hr {
    width: 300px;
    border: 1px solid #dd9900;
}

#gold {
    color: #dd9900;
    text-shadow: 1px 1px 15px #DD9900;
}

#silver {
    color: #d2d2d2;
    text-shadow: 1px 1px 15px #d2d2d2;
}

#copper {
    color: #B77729;
    text-shadow: 1px 1px 15px #B77729;
}

#video {
    padding: 80px;
}

#video iframe {
    border: #1B1B1B 1px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 56px 14px rgba(27, 27, 27, 0.87);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#video iframe:hover {
    box-shadow: 0px 0px 40px 15px rgba(221, 153, 0, 0.87);
}

#section_6 {
    height: 47em;
    width: 100%;
    background-color: #1B1B1B;
    color: #dd9900;
}

#section_6 h1 {
    text-align: center;
}

#section_6 .linha {
    border: #dd9900 1px solid;
}

#section_6 #linha_middle {
    border: #dd9900 1px solid;
}

#i_sc_6 {
    display: flex;
}

#box_contact {
    height: 450px;
    width: 300px;
    margin-left: 75px;
    border-radius: 15px;
    background: linear-gradient(316deg, #dd9900, #8f670b, #1b1b1b);
    background-size: 600% 600%;
    -webkit-animation: gradient_back 11s ease infinite;
    -moz-animation: gradient_back 11s ease infinite;
    animation: gradient_back 11s ease infinite;
}

@-webkit-keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

@-moz-keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

@keyframes gradient_back {
    0% {
        background-position: 0% 38%
    }

    50% {
        background-position: 100% 63%
    }

    100% {
        background-position: 0% 38%
    }
}

#section_6 form nav {
    margin-left: 80px;
    display: flex;
}

#section_6 form div {
    margin-right: 200px;
}

.contact {
    display: flex;
    color: #000000;
    margin-left: 25px;
    font-size: small;
}

.contact img {
    height: 45px;
    width: 45px;
}

.contact h3 {
    margin-top: -1px;
    margin-left: 10px;
}

.contact h3 a {
    text-decoration: none;
    color: #000000;
    font-size: small;
    transition: 0.5s ease-in-out;
}

.contact h3 a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 15px #ffb300;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
}

.form__field {
    width: 250px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s ease-in-out;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #dd9900, #dd9900);
    border-image-slice: 1;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #dd9900;
    font-weight: 700;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

#section_6 form nav textarea {
    height: 200px;
    width: 650px;
    background-color: #1B1B1B;
    border: #9b9b9b 1px solid;
    border-radius: 5px;
    color: white;
    transition: 0.5s ease-in-out;
}

#section_6 form nav textarea:hover {
    border: #DD9900 1px solid;
}

#section_6 form button {
    text-align: center;
    align-items: center;
    margin-left: 80px;
    height: 50px;
    width: 170px;
    border: #9b9b9b 1px solid;
    border-radius: 10px;
    color: #9b9b9b;
    background-color: #1B1B1B;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#section_6 form button:hover {
    color: #dd9900;
    border: #dd9900 1px solid;
    width: 200px;
    text-shadow: 1px 1px 15px #B77729;
}

footer {
    text-align: center;
    color: #dd9900;
}
